DirectorySlash Off
RewriteEngine On

RewriteRule ^resume/?$ /resume.pdf [R=301,L]
RewriteRule ^resume\.cfm$ /resume.pdf [R=301,L]
RewriteRule ^resume2025\.cfm$ /resume.pdf [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{DOCUMENT_ROOT}/$1.html -f
RewriteRule ^(.+?)/?$ $1.html [L]

ErrorDocument 404 /404.html
